# Fichier: docker-compose.jenkins.yml (Corrigé - sans volume)
version: '3.8'

services:
  user_service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user_service_test_app
    # Le 'working_dir' du Dockerfile est déjà /var/www, donc c'est ok
    networks:
      - events_network

networks:
  events_network:
    external: true
    name: projet-gestion-evenements_events_network