version: '3.8'

services:
  # --- 1. Service Utilisateur (Laravel) ---
  user_service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user_service_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./services/user-service:/var/www
    depends_on:
      - db_mysql
      - cache_redis
    networks:
      - events_network
    environment:
      - APP_KEY=base64:IgYfA8Xz1lUUQPItd/y/G9J0A9m9fP9hK/T2h/u3N8Y=
      - DB_CONNECTION=mysql
      - DB_HOST=db_mysql
      - DB_DATABASE=db_events_main
      - DB_USERNAME=root
      - DB_PASSWORD=root_password
      - CACHE_DRIVER=array
      - SESSION_DRIVER=array

  # --- 2. Service Événements (Symfony) ---
  event_service:
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    container_name: event_service_app
    restart: unless-stopped
    working_dir: /var/www
    depends_on:
      - db_mysql
      - cache_redis
    networks:
      - events_network
    environment:
      - DATABASE_URL=mysql://root:root_password@db_mysql:3306/db_events?serverVersion=8.0

  # --- 3. Service Réservation (PHP Pur) ---
  reservation_service:
    build:
      context: ./services/reservation-service
      dockerfile: Dockerfile
    container_name: reservation_service_app
    restart: unless-stopped
    networks:
      - events_network

  # --- 4. Service Notification (PHP Pur) ---
  notification_service:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile
    container_name: notification_service_app
    restart: unless-stopped
    networks:
      - events_network

  # --- 5. API Gateway (Nginx) ---
  api_gateway:
    build:
      context: ./services/api-gateway
      dockerfile: Dockerfile
    container_name: api_gateway_app
    ports:
      - "80:80" # Accessible sur http://localhost
    depends_on:
      - user_service
      - event_service
      - reservation_service
      - notification_service
    networks:
      - events_network

  # --- 6. Front-End (React) ---
  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "3000:80" # Accessible sur http://localhost:3000
    networks:
      - events_network

  # --- INFRASTRUCTURE ---
  db_mysql:
    image: mysql:8.0
    container_name: mysql_events
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: db_events_main
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - events_network

  db_postgres:
    image: postgres:14
    container_name: postgres_sonar
    restart: unless-stopped
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - events_network

  cache_redis:
    image: redis:6.2-alpine
    container_name: redis_events
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - events_network

  jenkins_server:
    build:
      context: ./jenkins-server
    container_name: jenkins_server
    user: root
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - jenkins_data:/var/jenkins_home
      - //var/run/docker.sock:/var/run/docker.sock
    networks:
      - events_network

  sonarqube:
    image: sonarqube:9.9-community
    container_name: sonarqube_server
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db_postgres:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    depends_on:
      - db_postgres
    networks:
      - events_network

volumes:
  mysql_data:
  postgres_data:
  redis_data:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  events_network:
    driver: bridge
    enable_ipv6: false