# Fichier: docker-compose.yml (POUR VOIR L'APPLICATION)
version: '3.8'

services:
  # 1. FRONTEND (L'interface graphique)
  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "3000:80"  # <-- L'interface sera ici !
    networks:
      - events_network

  # 2. API GATEWAY (Le routeur)
  api_gateway:
    build:
      context: ./services/api-gateway
      dockerfile: Dockerfile
    container_name: api_gateway_app
    ports:
      - "8081:80" # La porte d'entrée des APIs
    depends_on:
      - user_service
      - event_service
      - reservation_service
      - notification_service
    networks:
      - events_network

  # 3. Service Laravel
  user_service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user_service_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./services/user-service:/var/www
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db_mysql
      - DB_DATABASE=db_events_main
      - DB_USERNAME=root
      - DB_PASSWORD=root_password
    depends_on:
      - db_mysql
    networks:
      - events_network

  # 4. Service Symfony
  event_service:
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    container_name: event_service_app
    restart: unless-stopped
    working_dir: /var/www
    environment:
      - DATABASE_URL=mysql://root:root_password@db_mysql:3306/db_events?serverVersion=8.0
    depends_on:
      - db_mysql
    networks:
      - events_network

  # 5. Service Réservation
  reservation_service:
    build:
      context: ./services/reservation-service
      dockerfile: Dockerfile
    container_name: reservation_service_app
    restart: unless-stopped
    networks:
      - events_network

  # 6. Service Notification
  notification_service:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile
    container_name: notification_service_app
    restart: unless-stopped
    networks:
      - events_network

  # --- INFRASTRUCTURE ---
  db_mysql:
    image: mysql:8.0
    container_name: mysql_events
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: db_events_main
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - events_network

  # (On garde Jenkins allumé pour la forme, mais on ne s'en sert plus)
  jenkins_server:
    image: jenkins/jenkins:lts-jdk11
    container_name: jenkins_server
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - events_network

volumes:
  mysql_data:
  jenkins_data:

networks:
  events_network:
    driver: bridge