# Fichier: docker-compose.jenkins.yml (COMPLET - 4 Services)
version: '3.8'

services:
  # 1. Laravel (Utilisateurs)
  user_service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user_service_test_app
    networks:
      - events_network
    environment:
      - APP_KEY=base64:IgYfA8Xz1lUUQPItd/y/G9J0A9m9fP9hK/T2h/u3N8Y=
      - DB_CONNECTION=mysql
      - DB_HOST=db_mysql
      - DB_DATABASE=db_events_main
      - DB_USERNAME=root
      - DB_PASSWORD=root_password
      - CACHE_DRIVER=array
      - SESSION_DRIVER=array

  # 2. Symfony (Événements)
  event_service:
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    container_name: event_service_test_app
    networks:
      - events_network
    environment:
      - DATABASE_URL=mysql://root:root_password@db_mysql:3306/db_events?serverVersion=8.0

  # 3. Réservation (PHP Natif)
  reservation_service:
    build:
      context: ./services/reservation-service
      dockerfile: Dockerfile
    container_name: reservation_service_test_app
    networks:
      - events_network

  # 4. Notification (PHP Natif)
  notification_service:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile
    container_name: notification_service_test_app
    networks:
      - events_network

networks:
  events_network:
    external: true
    name: projet-gestion-evenements_events_network