# Fichier: docker-compose.yml (FINAL Corrigé avec le réseau)

services:

  # --- Service Utilisateur (Laravel) ---
    # --- Base de données pour LARAVEL ---
  db_mysql:
    image: mysql:8.0
    container_name: mysql_events
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: db_events_main,db_sonar,db_events
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - events_network

  # --- Base de données pour SONARQUBE ---
  db_postgres:
    image: postgres:14
    container_name: postgres_sonar
    restart: unless-stopped
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - events_network

  # --- Service de Caching ---
  cache_redis:
    image: redis:6.2-alpine
    container_name: redis_events
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - events_network

  # --- Serveur d'Intégration Continue ---
  jenkins_server:
    build:
      context: ./jenkins-server
    container_name: jenkins_server
    user: root
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - jenkins_data:/var/jenkins_home
      - //var/run/docker.sock:/var/run/docker.sock
    networks:
      - events_network

# --- Service Événements (Symfony) ---
  event_service:
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    container_name: event_service_app
    restart: unless-stopped
    working_dir: /var/www
    # On le démarre pour que Jenkins puisse le tester
    command: php-fpm
    depends_on:
      - db_mysql
      - cache_redis
    networks:
      - events_network

  # --- Serveur d'Analyse de Code ---
  sonarqube:
    image: sonarqube:9.9-community
    container_name: sonarqube_server
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db_postgres:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    depends_on:
      - db_postgres
    networks:
      - events_network

# --- VOLUMES (À la racine, pas d'indentation) ---
volumes:
  mysql_data:
  postgres_data:
  redis_data:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

# --- RÉSEAUX (À la racine, pas d'indentation) ---
networks:
  events_network:
    driver: bridge
    # --- LA CORRECTION EST ICI ---
    # (Indenté sous 'events_network')
    enable_ipv6: false